/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* End of CSS reset, beginning of app styling */


:root{
    --very-dark-blue: hsl(235, 21%, 11%);
    --very-dark-desaturated-blue: hsl(235, 24%, 19%);
    --light-grayish-blue1: hsl(234, 39%, 85%);
    --light-grayish-blue2: hsl(236, 33%, 92%);
    --dark-grayish-blue: hsl(234, 11%, 52%);
    --very-dark-grayish-blue1: hsl(233, 14%, 35%);
    --very-dark-grayish-blue2: hsl(237, 14%, 26%);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--light-grayish-blue2); */
    background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    user-select: none;
    
}


main{
    /* border: 1px solid red; */
    min-width: 325px;
}

.header{
    display: flex;

}

.input-fld{
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    border:none;
    font-weight: 400;
}



h1{
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin-bottom: 25px;
}

p{
    margin: 0;;
}


ul{
    padding:0;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    margin-bottom: 0;

}

li{
    color: var(--dark-grayish-blue);
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-top: 1px solid var(--light-grayish-blue); */
    border-bottom: 1px solid var(--light-grayish-blue2);
    padding: 10px 15px;
    background-color: white;
    justify-content: space-between;
    cursor: pointer;
 
}

li p{
    margin-right: auto;
    padding-left: 10px;
    font-size: .875rem;
    vertical-align: middle;
    
}


.select-item-btn{
    border: 1px solid var(--light-grayish-blue2);
    border-radius: 50%;
    padding: 0;
    width: 20px;
    height: 20px;
}

.select-item-btn:hover,
.select-item-btn:focus{
    border: 1px solid hsla(33, 94%, 57%, 1);
}





.bottom-text{ 
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: white;
    border-radius: 0px 0px 5px 5px ;

}

.filter-view{
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding: 10px 15px;
    color: var(--dark-grayish-blue);
    margin-top: 15px;

}    

button{  
    border: none;
    background-color: white;
    color: var(--dark-grayish-blue);
}

.clear-completed{
    background-color: transparent;
    color: black;

}

button:hover,
button:active{
    color: hsl(220, 98%, 61%);
    cursor: pointer;
}


.final-p{
    text-align: center;
    margin-top: 15px;
}

button.completed{
  background-color: salmon;
  background-image: url(./images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;

}

p.completed{
    text-decoration: line-through;
}

.hidden{
    display: none;
}

/* .close{
  border: 2px solid red;
} */